.section_product_1{
	background-color: #433C6D;
	padding-bottom: 50px;
	color:#F4F4F4;
	margin-bottom: 20px;
}

.section_product_4{
	background-color: #F4F4F4;
}

.img_everywhere{
	margin: 30px;
}
.intro{
	margin-bottom: 50px;
	text-align: center;
}

.text_intro{
	color: grey;
}


.box-why{
	margin-top: 0px;
	width: 900px;
	height: 530px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 3px;
	box-shadow: rgb(210, 210, 210) 1px 1px 8px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.box-whysm{
	margin-top: 0px;
	width: 700px;
	height: 600px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 3px;
	box-shadow: rgb(210, 210, 210) 1px 1px 8px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 75px;
}

#INPUT_3 {
	margin-top: 10px;
    bottom: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: -2px;
    white-space: pre;
    width: 470px;
    column-rule-color: rgb(255, 255, 255);
    align-items: flex-start;
    perspective-origin: 120px 22.5px;
    transform-origin: 120px 22.5px;
    background: #6C4EA6; none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 3px solid #433C6D;
    border-left: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold normal 16px / 22.8571px Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    transition: background-color 0.3s ease 0s;

}

#INPUT_3:hover{
	border-bottom: 2px solid #433C6D;
}

.em-bolt{
	margin-top:-500px;
	margin-left:-510px;
	}

.em-ping{
	margin-top:-400px;
	margin-left:-39px;

	}
	
.em-web{
	margin-top:-285px;
	margin-left:-39px;
	}

.em-light{
	margin-top:-165px;
	margin-left:-39px;
	}

.em-muscle{
	margin-top:-65px;
	margin-left:-39px;
	}

.em-boltsm{
	margin-top:-500px;
	margin-left:-570px;
	}

.em-pingsm{
	margin-top:-400px;
	margin-left:-32px;

	}
	
.em-websm{
	margin-top:-285px;
	margin-left:-32px;
	}

.em-lightsm{
	margin-top:-165px;
	margin-left:-32px;
	}

.em-musclesm{
	margin-top:-65px;
	margin-left:-32px;
	}


	
.ways{margin-bottom:150px;padding-top:100px;}

.box-title{
	padding-top: 40px;
}

.box-subtitle{
	color: grey;
    font-size:15px;
    text-transform: uppercase;
}

.box-authorize{
	margin-top: 50px;
	margin-left: 40px;
	text-align: left;
	text-decoration: none;
}

.box-authorizesm{
	margin-top:60px;
	margin-left: 40px;
	text-align: left;
	text-decoration: none;	
}

.title-benefit2{
	margin-top: 30%;
	font-size: 1.8em;
}

.image-col{
	margin-left: 15px;
}

#content-authorize li{
	margin-top: 20px;
	letter-spacing: 1,5px;
	padding-left: 140px;
	list-style-type: none; 
}

.titre_every h2{font-size:3.5125rem;font-weight:900;line-height:3.83rem;padding:1.06rem 0 4.78rem}

#content-authorizesm li{
	margin-top: 20px;
	letter-spacing: 1,5px;
	padding-left: 100px;
	list-style-type: none; 
}

ul#content-authorize.box-authorize{
}

ul#content-authorizesm.box-authorizesm{
	margin-left:-50px;
}

img{
	vertical-align: middle;
}

@media (max-width: 1199px) {
.vertical-line{
	position: absolute;
	top: 120px;
	left:140px;
	color: rgb(31, 31, 31);
    height: 290px;
    text-align: center;
    width: 3px;
    column-rule-color: rgb(31, 31, 31);
    perspective-origin: 30px 1px;
    transform-origin: 30px 1px;
    background: rgb(223, 223, 223) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(31, 31, 31);
    margin: 30px 220px 0px;
    outline: rgb(31, 31, 31) none 0px;
    margin-top: 40px;
    margin-left: 50px;
}
}
@media (min-width: 1200px) {
.vertical-line{
	position: absolute;
	top: 120px;
	left:140px;
	color: rgb(31, 31, 31);
    height: 290px;
    text-align: center;
    width: 3px;
    column-rule-color: rgb(31, 31, 31);
    perspective-origin: 30px 1px;
    transform-origin: 30px 1px;
    background: rgb(223, 223, 223) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(31, 31, 31);
    margin: 30px 220px 0px;
    outline: rgb(31, 31, 31) none 0px;
    margin-top: 40px;
    margin-left: 140px;
}
}



.vertical-linesm{
	position: absolute;
	top: 120px;
	left:140px;
	color: rgb(31, 31, 31);
    height: 290px;
    text-align: center;
    width: 3px;
    column-rule-color: rgb(31, 31, 31);
    perspective-origin: 30px 1px;
    transform-origin: 30px 1px;
    background: rgb(223, 223, 223) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(31, 31, 31);
    margin: 30px 220px 0px;
    outline: rgb(31, 31, 31) none 0px;
    margin-top: 40px;
    margin-left: 120px;
}

#step{
	margin-left:-45px;
}

.detail#communicate .image_container{position:absolute;bottom:-550px;left:0px;width:964px;height:565px}

.ways{margin-right:10px;margin:auto; padding-bottom:20%;}
.detail#communicate,.detail#drag_drop_share,.detail#tools{border-bottom:1px solid #E5E5E5}
.detail#communicate{padding:3.19rem 0;height:auto;overflow:hidden}

.detail#communicate h1{width:100%;text-align:center;font-size:3.5125rem;font-weight:900;line-height:3.83rem;padding:1.06rem 0 4.78rem}
.detail#communicate .ways{width:95%;margin-top:auto;}
.detail#communicate .waysxs{width:100%;margin-top:auto; padding-left:5%;}

.detail#communicate .way{width:95%;padding:25px 34px;cursor:pointer;border-radius:10px}
.detail#communicate .way h3,.detail#communicate .way p{width:100%}
.detail#communicate .way h3{font-size:1.6rem;font-weight:900;margin:0 0 .27rem;}
.detail#communicate .way p{font-size:1.2;margin:auto;opacity: 0.7;text-align:left;}
.detail#communicate .way:hover h3{opacity:1;color: #9068DB;}
.detail#communicate .way:hover p{opacity:1;}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel],.detail#communicate[data-highlight=dm] .way[data-highlight=dm],.detail#communicate[data-highlight=group] .way[data-highlight=group]{background:#F4F4F4}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel] h3,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] h3,.detail#communicate[data-highlight=group] .way[data-highlight=group] h3{opacity:1;color: #9068DB;}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel] p,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] p,.detail#communicate[data-highlight=group] .way[data-highlight=group] p{opacity:1}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel]:hover,.detail#communicate[data-highlight=dm] .way[data-highlight=dm]:hover,.detail#communicate[data-highlight=group] .way[data-highlight=group]:hover{background:#F4F4F4}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel] h3:hover,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] h3:hover,.detail#communicate[data-highlight=group] .way[data-highlight=group] h3:hover{opacity:1;color: #9068DB;}
.detail#communicate[data-highlight=channel] .way[data-highlight=channel] p:hover,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] p,:hover.detail#communicate[data-highlight=group] .way[data-highlight=group] p:hover{opacity:1;color:black;}

.detail#communicate .switcher{width:66px;height:26px;background:rgba(0,0,0,.5);border-radius:13px;padding:8px 10px;margin:0 auto;display:none}
.detail#communicate .switcher .circle{display:block;float:left;width:10px;height:10px;border:1px solid #FFF;border-radius:5px;margin-right:8px;opacity:.6}
.detail#communicate .switcher .circle:last-of-type{margin-right:0}
.detail#communicate[data-highlight=channel] .circle[data-highlight=channel],.detail#communicate[data-highlight=dm] .circle[data-highlight=dm],.detail#communicate[data-highlight=group] .circle[data-highlight=group]{opacity:1;background:#FFF;}

.detail#communicate .highlight{width:300px;height:300px;position:absolute;opacity:0;-webkit-transition:opacity .2s ease-out 0s;-moz-transition:opacity .2s ease-out 0s;transition:opacity .2s ease-out 0s;background-image:url(images/tourproduit.png);background-size:300px 913px;background-repeat:no-repeat;left:90px}
.detail#communicate .highlight[data-highlight=channel]{top:-15px;background-position:0 0}
.detail#communicate .highlight[data-highlight=dm]{top:350px;background-position:0 -612px}
.detail#communicate .highlight[data-highlight=group]{top:95px;background-position:0 -306px}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){.detail#communicate .highlight{background-image:url(images/tourproduit.png)}
}
.detail#communicate .highlight.highlight_old{background-image:url(images/tourproguit.png)}
.detail#communicate .highlight.highlight_old[data-highlight=dm]{top:95px;background-position:0 -400px}
.detail#communicate .highlight.highlight_old[data-highlight=group]{top:175px;background-position:0 -800px}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){.detail#communicate .highlight.highlight_old{background-image:url(images/tourproduit.png)}
}
.detail#communicate[data-highlight=channel] .highlight[data-highlight=channel],.detail#communicate[data-highlight=dm] .highlight[data-highlight=dm],.detail#communicate[data-highlight=group] .highlight[data-highlight=group]{opacity:1}
}
